*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    text-align: center;
    padding: 24px;
    background-color:aquamarine;
    position: fixed;
    width: 100%;
}

section{
    padding: 48px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.calc-container{
    width: 100%;
    max-width: 400px;
    padding: 24px;
    border: solid 1px aqua;
    border-radius: 6px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

div.calc{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.pantalla{
    width: 100%;
    padding: 0 0 16px 0;
    border-bottom: dashed 1px aquamarine;
}

div.pantalla input{
    width: 100%;
    padding: 12px;
    font-size: 40px;
    text-align: right;
    color: #333;
    border: solid 1px #333;
    border-radius: 4px;
    outline: none;
    box-shadow: inset 4px 4px 12px -4px rgba(0, 0, 0, 0.5);
    font-family: monospace;
}

div.pantalla input::placeholder{
    color: #a2a2a2;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
}

.botones .btn{
    padding: 12px 4px;
    cursor: pointer;
    border: solid 1px #a2a2a2;
    border-radius: 4px;
    font-size: 24px;
}

.igual{
    background-color: green;
    color: #FFFFFF;
}

.operador{
    background-color: aquamarine;
}

.delete{
    background-color: crimson;
    color: #FFFFFF;
}
.deleteLast{
    background-color: coral;
}